* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

a:hover {
  text-decoration: none;
}

/* helper class */

.text-white {
  color: #ffffff;
}

.bg {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* index page */
.hero-image {
  background-image: url("../assets/PSX1-min.jpg");
}

.hero__btn {
  width: 200px;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: 1px solid #ffffff;
  margin-bottom: 10px;
}

.hero__btn:hover {
  opacity: 0.6;
}

.explore {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 800;
  text-decoration: none;
}

.social-icon {
  width: 32px;
  height: 32px;
  margin: 5px 10px 15px 5px;
}

.social-icon:hover {
  opacity: 0.6;
}

.index-footer {
  text-align: center;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* home page */

nav {
  display: flex;
  justify-content: space-between;
  padding: 4px 40px 4px 0;
  background-color: #232323;
  height: 60px;
  color: #ffffff;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.social-nav {
  display: inline-block;
  position: absolute;
  bottom: 30px;
}

.social-link {
  width: 20px;
  height: 20px;
  margin: 0 18px;
}

.social-link:hover {
  opacity: 0.6;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 370px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #000000;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  margin: 0 auto;
}
.menu__item:hover {
  opacity: 0.5;
}

.subscribe {
  display: flex;
  bottom: 100px;
  position: absolute;
  padding: 0 10px;
}

.email-input {
  width: 250px;
  height: 40px;
  background-color: #ffffff;
  border-color: #d6d6d6;
  border-style: solid;
  color: #ffffff;
  line-height: 40px;
  text-align: left;
  outline: none;
}

.submit {
  width: 100px;
  height: 40px;
  background-color: #000000;
  border-color: #000000;
  border-style: solid;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.submit:hover{
  opacity: .6;
}

.footer {
  background-color: #000000;
  padding: 10px 0;
  text-align: center;
}

.watch-btn {
  color: #ffffff;
  display: inline-block;
  font-size: 19px;
  text-align: center;
  background-color: #9c9987;
  text-transform: uppercase;
  width: 200px;
  height: 38px;
  outline: none;
  border: none;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.watch {
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.bg-1 {
  background-image: url("../assets/laycon-min.jpeg");
}

.bg-2 {
  background-image: url("../assets/Who\ is\ Laycon\ Cover-min.jpg");
}

.bg-3 {
  background-image: url("../assets/laycon1-min.jpg");
}

.bg-4 {
  background-image: url("../assets/PSX2-min.jpg");
}

/* music page */
.music-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-auto-rows: auto;
  grid-row-gap: 5rem;
  justify-items: center;
  margin-bottom: 60px;
}

.music-card {
  position: relative;
  width: 280px;
  height: 280px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.music-cover {
  width: 280px;
  height: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.music-card:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
